<?xml version="1.0" encoding="UTF-8"?>
<launch>
<!--Resuming the logic in gazebo_ros package empty_world.launch-->
    <arg  name="world" default="new_jersey"/>
<include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="/home/harold/com760_ws/com760cw2_group7/world/$(arg world).world"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" default="false"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="paused" default="false"/>
</include>
<arg name="x" default="4.8"/>
<arg name="y" default="2.3"/>
<arg name="z" default="0"/>
<arg name="roll" default="0"/>
<arg name="pitch" default="0"/>
<arg name="yaw" default="0.95"/>

<arg name="des_x" default="14.8"/>
<arg name="des_y" default="12.3"/>
<param name="x" value="$(arg x)" />
<param name="y" value="$(arg y)" />
<param name="des_pos_x" value="$(arg des_x)" />
<param name="des_pos_y" value="$(arg des_y)" />

<!--use a small script called spawn_model to make a service call request to the gazebo_ros ROS node-->
<param name="robot_description" command="$(find xacro)/xacro.py $(find com760cw2_group7)/urdf/group7bot.xacro" ></param>
<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
      args="-urdf -model group7bot -param robot_description"></node>


</launch>